config.json
*.bat
*.sh
node_modules
assets/Imgs/Players/*
commands/f.js
guilds/*
gameState
logs
nodemon.json
assets/sheet_secret.json
assets/mongo_secret.json
assets/mysql_secret.json
stats.json
configtest.json
test.js
depr